body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(https://photos.smugmug.com/Blog/Creative-Commons-2/i-r7Z3Tb8/0/e0b39aeb/O/tokyo-japan-2014-train-station-rush-hour.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
    list-style: none;
    display: inline-block;
    color: #FFD375;
}

a:link {
    color: #917740;
}

a:visited {
    color: #946f20;
}

h2 {
    color: #FFB924;
    text-align: center;
    border: 5px solid rgba(255, 204, 98, 0.6) ;
    text-shadow: 2px 1px #000000;
}

p {
    color: #FFAD00;
    word-spacing: 13rem;
    text-decoration: underline overline;
}